$basic-black: rgb(37, 37, 37);
$light-black: rgb(235, 235, 235);

$basic-blue: rgb(68, 77, 190);
$light-blue: rgb(85, 140, 228);

$form-height: 40px;
$form-width: 30%;
$form-list-width: calc(30% - 3%);

.search-form{
    width: $form-width;
    margin: auto;
    .search-input{
        height: $form-height;
        width: 100%;
        padding: 5px 10px;
        font-weight: 500;
        border-radius: 0;
        border: 1px solid $basic-black;
        &:disabled{
            cursor: not-allowed;
            background-color: rgb(233, 233, 233);
        }
    }

    .search_relative-list{
        width: $form-list-width;
        z-index: 10;
        position: absolute;
        background-color: $light-black;
        border: 1px solid $basic-black;
        border-top: none;
        overflow: hidden;
        overflow-y: scroll;
        display: none;
        max-height: calc(51px * 5);

        li{
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 5px;
            transition: all .3s;
            font-weight: 500;
            border-bottom: 1px solid $basic-black;
            background-color: #fff;
            // word-break: keep-all;

            &:last-child{
                border-bottom: none;
            }
            
            &:hover{
                background-color: $basic-black;
                color: #fff;
            }

            button{
                cursor: pointer;
                color: $basic-blue;
                font-weight: 500;
                background-color: rgba(255, 255, 255, 0);
                border: none;
                transition: all .3s;

                &:hover{
                    color: $light-blue;
                }
            }
        }
    }

    .search-warn{
        line-height: 20px;
        font-size: 12px;
        font-weight: 500;
        padding: 0 2%;
        color: rgb(216, 14, 14);
        border-bottom: 1px solid rgb(216, 14, 14);
    }

    .search_list{
        li{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2%;
            height: $form-height;
            border-bottom: 1px solid $basic-black;
            font-weight: 500;
            transition: all .3s;
            &:hover{
                background-color: $basic-black;
                color: #fff;
            }
            .material-icons{
                color: rgb(216, 14, 14);
            }
        }

    }

}