$base-black: rgb(30, 30, 30);
$line-black: rgba(0, 0, 0, 0.2);

/* SCSS RGB */
$cg-blue: rgba(34, 124, 157, 1);
$light-sea-green: rgba(23, 195, 178, 1);
$maximum-yellow-red: rgba(255, 203, 119, 1);
$floral-white: rgba(254, 249, 239, 1);
$light-coral: rgba(254, 109, 115, 1);


h1{}

.content-list{
    margin-top: 20px;
    border-top: 1px solid $base-black;
    .content-itm{
        cursor: pointer;
        display: grid;
        grid-template-columns: .1fr 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid $line-black;
        padding: 0px 10px;
        height: 40px;
        color: $base-black;
        &:first-child{
            cursor: default;
        }
        .itm-id{
            font-weight: 500;
            text-align: left;
        }
        .itm-title{font-weight: lighter;}
        .itm-content{
            text-align: left;
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

}