{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/chart.css' %}">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<div class="container">
  <header class="header">
      <h1 class="LOGO">퀀트 기획</h1>
  </header>

  <main class="main">

    <div class="sideBar">
      <ul class="category">

        <a href="">
          <li class="category_item">
            첫번째
          </li>
        </a>

        <a href="">
          <li class="category_item">
            두번째
          </li>
        </a>

        <a href="">
          <li class="category_item">
            세번째
          </li>
        </a>

        </ul>
    </div>

    <div class="main_container">
      <div class="statement_table-wrapper">
        <table class="statement_table">
          <thead class="statement_head">  
            <tr>
              <th>회사명</th>
              <th>연도</th>
              <th>분기</th>
              <th>재무재표 연결, 일반</th>
              <th>재무재표 분류</th>
              <th>계정명</th>
              <th>자산</th>
            </tr>
          </thead>
          <tbody class="statement_body">
            
            {% for com in company_list %}
              <tr>
                <td> {{com.company_name}} </td> 
                {% for y in com.year_set.all %}
                  <td> {{y.bs_year}} </td>

                  {% for q in y.quarter_set.all %}
                    <td> {{q.qt_name}} </td>

                    {% for lo in q.fs_lob_set.all %}
                      <td> {{lo.lob}} </td>

                      {% for fd in lo.fs_div_set.all %}
                        <td> {{fd.sj_div}} </td>

                        {% for fsa in fd.fs_account_set.all %}

                          <td> {{fsa.account_name}} </td>
                          <td> {{fsa.account_amount}} </td>
                        {% endfor %}

                      {% endfor %}

                    {% endfor %}

                  {% endfor %}

                {% endfor %}
              </tr>
            {% endfor %}      
            
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
<script>
    // var chartSet = JSON.parse("{{ chartJson|escapejs }}");  
    const companySelect = document.getElementById('comSel');

    companySelect.addEventListener('click', (e)=>{
        console.log(companySelect.value);
    });
</script>
{% endblock %}