{% extends 'index.html' %}
{% load static %}
{% block content %}
<script defer src="{% static '/js/script.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/chart.css' %}">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<div class="container">

    <header class="header">
        <h1 class="LOGO">퀀트 기획</h1>
    </header>

    <main class="main">

        <div class="sideBar">
            <ul class="category">

                <a href="">
                    <li class="category_item">
                        첫번째
                    </li>
                </a>

                <a href="">
                    <li class="category_item">
                        두번째
                    </li>
                </a>

                <a href="">
                    <li class="category_item">
                        세번째
                    </li>
                </a>

            </ul>
        </div>

        <div class="main_container">
            
            <!-- <article class="chart_view">
                <div class="csr line_chart-wrapper">
                    <canvas id="line_chart"></canvas>
                </div>

                <div class="csr rader_chart-wrapper">
                    <canvas id="rader_chart"></canvas>
                </div>

                <div class="csr doughnut_chart-wrapper">
                    <canvas id="doughnut_chart"></canvas>
                </div>

                <div class="csr polar_chart-wrapper">
                    <canvas id="polar_chart"></canvas>
                </div>
            </article>
            <button class="chartChanger">CLICK</button> -->

            <div class="statement_table-wrapper">
                <table class="statement_table">
                    <thead class="statement_head">  
                        <tr>
                            <th>고유번호</th>
                            <th>회사명</th>
                            <th>종목코드</th>
                            <th>최종 변경 일자</th>
                        </tr>
                    </thead>
                    <tbody class="statement_body">
                        <tr>
                            <td>32132490</td>
                            <td>삼성전자</td>
                            <td>02132</td>
                            <td>20170928</td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>

        </div>

    </main>

</div>
<script>
    var chartSet = JSON.parse("{{ chartJson|escapejs }}");  
</script>
{% endblock %}