{% extends 'index.html' %}
{% block content %}
    <div>
        <p> hello dbtest </p>
        {% comment %} <form method="POST">
            {% csrf_token %}
            <label>주식 이름 : </label>
            <input type="date" name="stockname" value="{{ form.stockname.value|default_if_none:'' }}">
            <label>주식 가격 : </label>
            <input type="text" name="price" value="{{ form.price.value|default_if_none:'' }}">
            <input type="submit" value="입력">
        </form> {% endcomment %}
    </div>
    <div>
        <table>
            <tr>
            </tr>
            {% for com in company_list %}
            <td> {{com.company_name}} </td> 
                {% for y in com.year_set.all %}
                    <td> {{y.bs_year}} </td>
                    {% for q in y.quarter_set.all %}
                        <td> {{q.qt_name}} </td>
                        {% for lo in q.fs_lob_set.all %}
                            <td> {{lo.lob}} </td>
                            {% for fd in lo.fs_div_set.all %}
                                <td> {{fd.sj_div}} </td>
                                {% for fsa in fd.fs_account_set.all %}
                                    <td> {{fsa.account_name}} </td><td> {{fsa.account_amount}} </td>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                
                 
                <td> {{com.Year.Quarter.qt_name}} </td> 
            </tr>
            {% endfor %}
            {% comment %} {% for cn in com_name_list %}
            <tr>
                <td>{{cn}} </td>
            </tr>
            {% endfor %} {% endcomment %}
            
        </table>
    </div>
{% endblock %}