.search{
  text-align: center;
}

.main-box-container{
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  
  .main-box{
    background-color: aqua;
    width: 3rem;
    height: 5rem;
    line-height: 5rem;
    
    text-align: center;
    
  }
}
