<section class="main banner">
    <div class="banner-wrapper">
        <div class="banner_text">
            <h1>Lorem ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus facere natus vitae esse
                porro, assumenda delectus minus hic illo pariatur accusantium consectetur corporis. Qui
                dignissimos labore blanditiis officiis corporis quia?
            </p>
            <a href="">Direct Link</a>
        </div>
        <div class="banner_img"></div>
    </div>
</section>