.footer{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  padding: 2% 5%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-ico{
    display: flex;
    justify-content: center;
    align-items: center;
    .ico-img{
      width: 80px;
      height: 80px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-right: 10px;
    }
    p{
      line-height: calc($line-height / 2);
      font-size: 35px;
      font-weight: 500;
      color: #000;
    }
  }

  .footer-copyrights{
    text-align: right;
    p{
      font-size: 20px;
      font-weight: 500;
      margin: 10px 0;
    }
    span{
      font-size: 18px;
    }
    .copyrights-mail{
      font-size: 16px;
      a{
        vertical-align: top;
        color: #000;
        font-weight: 500;
      }
    }
  }
}