$base-black: rgb(30, 30, 30);
$line-black: rgba(0, 0, 0, 0.2);

/* SCSS RGB */
$cg-blue: rgba(34, 124, 157, 1);
$light-sea-green: rgba(23, 195, 178, 1);
$maximum-yellow-red: rgba(255, 203, 119, 1);
$floral-white: rgba(254, 249, 239, 1);
$light-coral: rgba(254, 109, 115, 1);

.calc-head {
    form {

        .search-form{
            margin: 0;
        }

        .calc-filter {
            margin-top: 10px;
            display: flex;
            line-height: 35px;
            font-weight: 500;
            .select {
                margin-right: 5px;
                cursor: pointer;
                width: 10%;
                font-weight: 500;
                font-size: 14px;
                padding: 0 1%;
                border: 1px solid $base-black;
                * {
                    font-weight: 500;
                }
            }
            .radio {
                margin-right: 5px;
                padding: 0 5px;
                border: 1px solid $base-black;
                display: flex;
                justify-content: center;
                align-items: center;
                *{ cursor: pointer; }
                input{ margin: 0 5px; }
            }
            .filter-submit {
                width: 100px;
                background-color: $base-black;
                color: #fff;
                border: none;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}

.saved-list{
    display: flex;
    line-height: 35px;
    div{
        cursor: pointer;
        font-weight: 500;
        margin: 0 5px;
        margin-top: 10px;
        padding: 0 20px;
        // border-radius: 20px;
        background-color: $base-black;
        color: #fff;
        &:first-child{
            margin: 10px 5px 0 0;
        }
    }
}

.calc-save {
    display: flex;
    // justify-content: flex-end;
    margin-top: 10px;
    *{ line-height: 30px; }
    input{
        border: 1px solid $base-black;
        font-size: 14px;
        font-weight: 500;
        padding: 0 1%;
    }
    button{
        cursor: pointer;
        border: none;
        background-color: $base-black;
        color: #fff;
        font-weight: 500;
        width: 100px;
    }
}

.account-wrapper {
    margin: 20px 0;

    .account-name {
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        // border-bottom: 1px solid rgba(39, 39, 39, 0.8);
    }
    .account-amount {
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
        border-bottom: 2px solid rgba(39, 39, 39, 0.8);
        float: right;
    }

    // SUB ACCOUNT
    .subAccount {
        padding-left: 20px;
        line-height: 40px;
        padding: 0 0 0 20px;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 2px solid rgba(39, 39, 39, 0.212);
        margin: 0 !important;
        .subAccount_info {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            .subAccount-name {
                font-weight: 500;
                padding-right: 20px;
                // border-right: 1px solid rgba(39, 39, 39, 0.212);
            }
            .subAccount-amount {
                padding: 0 10%;
                text-align: right;
            }
            h3 {
                text-align: center;
                font-size: 20px;
                font-weight: 500;
            }
        }

        .subAccount_value {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            input {
                margin: auto;
                width: 60px;
                padding: 0 5px;
                text-align: center;
                height: 30px;
                font-weight: 500;
            }
            h3 {
                text-align: center;
                font-size: 20px;
                font-weight: 500;
            }
            span {
                font-weight: 500;
                text-align: right;
            }
        }
    }

    .account-vi {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;
        border-bottom: 1px solid $line-black;
        .subAccount_info {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            line-height: 40px;

            .subAccount-name {
                font-size: 20px;
                font-weight: bold;
                line-height: 40px;
                padding-right: 20px;
            }
            .subAccount-amount {
                padding: 0 10%;
                text-align: right;
            }
            h3 {
                text-align: center;
                font-size: 20px;
                font-weight: 500;
            }
        }

        .subAccount_value {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            line-height: 40px;

            input {
                margin: auto;
                width: 60px;
                padding: 0 5px;
                text-align: center;
                height: 30px;
                font-weight: 500;
            }
            h3 {
                text-align: center;
                font-size: 20px;
                font-weight: 500;
            }
            span {
                font-weight: 500;
                text-align: right;
            }
        }
    }
}

.resVal {
    position: fixed;
    z-index: 10;
    bottom: 0;
    border-top: 1px solid #000;
    padding: 20px 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 20px;
    background-color: #fff;

    .resVal-value {
        display: grid;
        grid-template-columns: 1fr 1fr;

        h3 {
            font-size: 20px;
            font-weight: bold;
            line-height: 40px;
        }
        div {
            margin-left: 20px;
            font-size: 20px;
            font-weight: bold;
            line-height: 40px;
            float: right;
            span {
                float: right;
                border-bottom: 2px solid rgba(39, 39, 39, 0.8);
            }
        }
    }
}

.calc-parameter {
    display: flex;
    justify-content: center;
    form {
        width: 100%;
    }
}
