:root {
    --base: rgb(56, 55, 55);
    --light: rgba(90, 90, 90, 0.3);
}

/* Gmarket Sans */
@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: lighter;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
}

@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: medium;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}

<<<<<<< HEAD
body, ul, li, a, p, td, tr, table, h1{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
=======
@font-face {
    font-family: 'GmarketSans';
    font-style: normal;
    font-weight: bold;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
>>>>>>> 03df14fe60ff2b8c2c92d290bf30a1aefd861a4b
}

/* Google Icon */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

<<<<<<< HEAD

/* HEADER */
.header{
  background-color: rgb(42, 42, 42);
  grid-area: header;
  padding: 0px 50px;
=======
* {
    font-family: 'GmarketSans';
    box-sizing: border-box;
    outline: none;
>>>>>>> 03df14fe60ff2b8c2c92d290bf30a1aefd861a4b
}

body, ul, li, a, p, td, tr, table, h1 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


<<<<<<< HEAD
/* main MAIN_CONTAINER */
.main .main_container{
  grid-area: main_container;
  background-color: rgb(255, 255, 255);
  padding: 50px;
}

/* main main_container CHART */
.chart_view{
}

.chart_view .csr{
  width: 20%;
  vertical-align: top;
  display: inline-block;
}


.chart_view .csr.line_chart-wrapper{
  display: block;
  width: 55%;
=======
/* Main */
.container {
    min-height: 80vh;
    background-color: rgb(255, 255, 255);
    padding: 5% 10%;
>>>>>>> 03df14fe60ff2b8c2c92d290bf30a1aefd861a4b
}