{% load static %}
{% static 'css/main/slider.css' %}
{% static 'css/main/container.css' %}
{% static 'css/main/banner.css' %}

<section class="main keyword">
    <h1>Hot Keyword</h1>
    <div class="keyword_main">
        <div class="keyword-wrapper">
            <p>First</p>
            <p>Second</p>
            <p>Third</p>
        </div>
    </div>
</section>

<h1 style="margin: 300px 0 50px; text-align: center;">Work</h1>
<section class="main slide_menu" style="padding-bottom: 300px;">
    <div class="slide"><img src="./img/1.png"></div>
    <div class="slide"><img src="./img/logo.jpg"></div>
    <div class="slide"><img src="./img/2.png"></div>
    <div class="slide"><img src="./img/3.png"></div>
    <div class="slide"><img src="./img/1.png"></div>
    <div class="slide"><img src="./img/logo.jpg"></div>
    <div class="slide"><img src="./img/2.png"></div>
    <div class="slide"><img src="./img/3.png"></div>
</section>

<section class="main chart"></section>

{% static 'js/main/main.js' %}