*{
  margin:0;
  padding: 0;
  border-style: none;
  outline: none;
}

nav{
  display: flex;
  justify-content: space-between;
}

.login{
  cursor: pointer;
}

.login_shape{
  position: fixed;
  display:none;
  width: 100vw;
  height: 100vh;  
  top: 0;
  z-index: 0;
}

.login_bg{
  position: fixed;
  display:block;
  background-color: rgba(0, 0, 0, 0.418);
  width: 100vw;
  height: 100vh;  
  top: 0;
  z-index: 1;
}

.login_screen{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 500px;
  height: 400px;
  margin-top: 13%;
  z-index: 10;
}

.login_close{
  cursor: pointer;
}
.login_form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_screen > form > input{
  background-color: rgb(233, 233, 233);
}

.side_bar{
  display:none;
  background-color: rgb(218, 218, 218);
  position: absolute;
  top:0;
  width: 30%;
  height: 100%;
}

.contents{
  display: flex;
  justify-content:space-around;
  padding: 20px;
}

.content_box{
  border: 1px solid #000;
  width: 30%;
  height: 300px;
}

.showing_menu{
  display: block;
}

.showing_login_shape{
  display:flex;
  justify-content: center;
}



