{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/chart/test.css' %}">
<link rel="stylesheet" href="{% static '/css/chart.css' %}">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<div class="container">

    <header class="header">
        <h1 class="LOGO">퀀트 기획</h1>
    </header>

    <main class="main">

        <div class="main_container">

            <div class="statement_table-wrapper">
                <table class="statement_table">

                    <thead class="statement_head">  
                        <tr>
                            {% for com in company_list %}
                                {% for y in com.year_set.all %}
                                    {% for q in y.quarter_set.all %}
                                    <th>분기</th>
                                    <th>{{q.qt_name}}</th>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody class="statement_body">

                        {% for com in company_list %}
                        <!-- <tr>
                            <td>종목명</td> 
                            <td> {{com.company_name}} </td> 
                        </tr> -->
                            {% for y in com.year_set.all %}
                            <!-- <tr>
                                <td>연도</td>
                                <td> {{y.bs_year}} </td>
                            </tr> -->
                                {% for q in y.quarter_set.all %}
                                <!-- <tr>
                                    <td>분기</td>
                                    <td> {{q.qt_name}} </td>
                                </tr>     -->

                                    {% for lo in q.fs_lob_set.all %}    
                                        {% if lo.lob == 'CFS' %}
                                            <!-- <tr>
                                                <td>연결 / 비연결</td>
                                                <td> {{lo.lob}} </td>
                                            </tr> -->
                                            {% for fd in lo.fs_div_set.all %}
                                                {% if fd.sj_div == 'BS' %}
                                                    <tr>
                                                        <td>{{fd.sj_div}}</td>
                                                        {% comment %} <td>자산</td> {% endcomment %}
                                                        <td></td>
                                                    </tr>
                                                    {% for fsa in fd.fs_account_set.all %}
                                                        <tr>
                                                            {% if fsa.account_name in il.i1 %}
                                                                <td class="i1"> {{fsa.account_name}} </td>
                                                            {% elif fsa.account_name in il.i2 %}
                                                                <td class="i2"> {{fsa.account_name}} </td>
                                                            {% elif fsa.account_name in il.i3 %}
                                                                <td class="i3"> {{fsa.account_name}} </td>
                                                            {% else %}
                                                                <td> {{fsa.account_name}} </td>
                                                            {% endif %}
                                                            <td> {{fsa.account_amount}} </td>
                                                        </tr> 
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}

                                {% endfor %}

                            {% endfor %}

                        {% endfor %}
                    
                    </tbody>
                </table>
            </div>

        </div>

    </main>

</div>
{% endblock %}