{% extends 'index.html' %}
{% load static %}
{% block content %}

<h1>재무상태표</h1> 
<table border="1">

    <thead>
        <tr>
            <th>　</th>
            <th>
                <p>제 27 기 1분기말</p>
            </th>
            <th>
                <p>제 26 기말</p>
            </th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <td>
                <p>자산</p>
            </td>
            <td>　</td>
            <td>　</td>
        </tr>
        <tr>
            <td>
                <p>　유동자산</p>
            </td>
            <td>
                <p>254,320,094,196</p>
            </td>
            <td>
                <p>230,935,601,209</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>　　현금및현금성자산</p>
            </td>
            <td>
                <p>42,069,973,098</p>
            </td>
            <td>
                <p>10,717,809,717</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>　　매출채권 및 기타유동채권</p>
            </td>
            <td>
                <p>126,946,055,476</p>
            </td>
            <td>
                <p>129,276,803,064</p>
            </td>
        </tr>

    </tbody>
    
</table>


<h1>포괄손익계산서</h1>
<table border="1">

    <thead>
        <tr>
            <th rowspan="2"></th>
            <th colspan="2">
                <p>제 27 기 1분기</p>
            </th>
            <th colspan="2">
                <p>제 26 기 1분기</p>
            </th>
        </tr>
        <tr>
            <th>
                <p>3개월</p>
            </th>
            <th>
                <p>누적</p>
            </th>
            <th>
                <p>3개월</p>
            </th>
            <th>
                <p>누적</p>
            </th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>
                <p>매출액</p>
            </td>
            <td>
                <p>317,458,276,135</p>
            </td>
            <td>
                <p>317,458,276,135</p>
            </td>
            <td>
                <p>302,227,599,222</p>
            </td>
            <td>
                <p>302,227,599,222</p>
            </td>
        </tr>

        <tr>
            <td>
                <p>매출원가</p>
            </td>
            <td>
                <p>272,887,126,169</p>
            </td>
            <td>
                <p>272,887,126,169</p>
            </td>
            <td>
                <p>269,767,015,440</p>
            </td>
            <td>
                <p>269,767,015,440</p>
            </td>
        </tr>

        <tr>
            <td>
                <p>매출총이익</p>
            </td>
            <td>
                <p>44,571,149,966</p>
            </td>
            <td>
                <p>44,571,149,966</p>
            </td>
            <td>
                <p>32,460,583,782</p>
            </td>
            <td>
                <p>32,460,583,782</p>
            </td>
        </tr>

    </tbody>

</table>

{% endblock %}