{% extends 'index.html' %}
{% load static %} 

{% block content %}
<div>
	<form action="{% url 'DBmanageapp:crawling' %}" method="POSt">
		{% csrf_token %}
		<input type="submit" value="button">
	</form>
</div>

<table>
	<thead>
		table
	</thead>
	<tbody>
			{% for c in company_data.set_all %}
				<tr>
					{% for y in c.year.set_all %} 
						{% for q in y.quarter_set.all %} 
							{% if q.fs_lob.exits %}
								<td>O</td>
							{% else%}
								<td>X</td>
							{% endif %}
						{% endfor %} 
					{% endfor %}
				</tr>
			{% endfor %}
	</tbody>
</table>

{% endblock %} 
