$border-line: rgba(124, 124, 124, 0.527);
$back-black: rgb(42, 42, 42);
$back-white: rgb(230, 230, 230);

.profile_manage {
    font-size: 10px;

    // USER INFO
    .user_info {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid $border-line;
        height: 300px;
        font-size: inherit;

        * {
            display: block;
        }

        .user_info-media {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: calc((100% / 6) * 1);

            .media-img {
                overflow: hidden;

                width: 100%;
                height: 200px;

                object-fit: cover;
                object-position: center;
                border: 20px;
            }

            .media-name {
                font-size: 2em;
                font-weight: 500;
                margin: 10px 0;
            }

            .media-edit {
                cursor: pointer;
                width: 100%;
                border-radius: 0;
                border: 1px solid $border-line;
                background-color: #fff;
                padding: 5px;
                font-weight: 500;
                transition: all .3s;

                &:hover{
                    background-color: $back-black;
                    color: #fff;
                }
            }
        }

        .user_info-desc {
            display: flex;
            justify-content: center;
            width: calc((100% / 6) * 5);

            * {
                text-align: right;
                margin: 5px 0;
                font-weight: 500;
                strong {
                    display: inline-block;
                    font-weight: bold;
                }
            }

            .desc_in {
                display: flex;
                flex-flow: column;
                flex-wrap: wrap;
                font-size: inherit;

                .desc-corp {
                    display: inline-block;
                    font-size: 2em;
                }

                .desc-email {
                    font-size: 2em;
                }

                .desc-adress {
                    font-size: 2em;
                }

                .desc-text {
                    width: 100%;
                    padding-left: 20%;
                    float: right;
                    font-size: 1.3em;
                    strong {
                        display: block;
                        font-weight: bold;
                        font-size: 2em;
                    }
                }
            }
        }
    }

    // USER STATUS
    .user_stat {
        display: flex;
        flex-wrap: wrap;
        // padding: 50px 0;
        min-height: 60vh;

        .stat-nav {
            display: flex;
            flex-flow: column;
            flex-wrap: wrap;
            width: calc((100% / 6) * 1);
            border-right: 1px solid $border-line;

            a {
                display: block;
                width: 95%;
                font-size: 1.5em;
                font-weight: 500;
                padding: 1em 2em;
                margin: 5px 0;
                text-align: center;
                background-color: $back-white;
                color: #000;
                transition: all 0.3s;
                
                &:first-child {
                    margin-top: 30px;
                }
                
                &:hover {
                    background-color: $back-black;
                    color: #fff;
                }
            }
        }

        .stat-route {
            width: calc((100% / 6) * 5);
            padding: 30px 2%;
            font-size: 2em;
        }
    }
}
