$base-black: rgb(30, 30, 30);
$line-black: rgba(0, 0, 0, 0.2);

/* SCSS RGB */
$cg-blue: rgba(34, 124, 157, 1);
$light-sea-green: rgba(23, 195, 178, 1);
$maximum-yellow-red: rgba(255, 203, 119, 1);
$floral-white: rgba(254, 249, 239, 1);
$light-coral: rgba(254, 109, 115, 1);

.profile-container{
    padding: 50px 0;
    
    .profile-info{
        width: fit-content;
        margin: auto;
        .info-img{
            margin: auto;
            width: 150px;
            height: 150px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 100%;
        }
        .info-username{
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            margin: 20px 0 5px;
        }
        .info-datejoined{
            display: block;
            width: fit-content;
            margin: auto;
        }
        .info-edit{
            cursor: pointer;
            display: block;
            margin: 20px auto;
            border: none;
            border-radius: 0px;
            background-color: $base-black;
            color: #fff;
            width: 100%;
            line-height: 35px;
            font-weight: 500;
            font-size: 14px;
        }
    }

    .admin-btns{
        width: fit-content;
        margin: 50px auto;
        border-top: 4px solid #000;
        border-bottom: 4px solid #000;
        padding: 20px;
        h1{
            text-align: center;
        }
        button{
            box-sizing: unset;
            vertical-align: top;
            border: none;
            cursor: pointer;
            display: inline-block;
            border-radius: 0px;
            padding: 5px 10px;
            width: auto;
            height: 30px;
            margin: 10px;
            font-weight: 500;
            font-size: 14px;
            color: #000;
            background-color: #fff;
            border: 1px solid #000;
            word-break: keep-all;
            transition: all .3s;
            &:hover{
                color: #fff;
                background-color: #000;
            }
        }
    }

}