$base-black: rgb(30, 30, 30);
$line-black: rgba(0, 0, 0, 0.2);

/* SCSS RGB */
$cg-blue: rgba(34, 124, 157, 1);
$light-sea-green: rgba(23, 195, 178, 1);
$maximum-yellow-red: rgba(255, 203, 119, 1);
$floral-white: rgba(254, 249, 239, 1);
$light-coral: rgba(254, 109, 115, 1);

.container {
  // background-color: $base-black;
  // border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  height: fit-content;
  color: #fff;

  .verticalLine {
    // height: 100%;
    // padding-bottom: 100%;
    width: 1px;
    background-color: $base-black;
  }

  .container-box {
    width: 100%;
    padding: 20px;
    // background-color: aqua;

    .condition-itm{
      width: 100%;
      line-height: 40px;
      background-color: $base-black;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      text-align: center;
      font-weight: 500;
      cursor: pointer;
      transition: all .3s;
      border-bottom: 1px solid #fff;
      &:hover{opacity: 0.8;}
    }

    &:nth-child(3){
      button {background-color: $light-coral;}
    }

    button {
      cursor: pointer;
      width: 100%;
      // line-height: 40px;
      margin-bottom: 5px;
      background-color: $cg-blue;
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      border: none;
      transition: all .3s;
      vertical-align: top;
      span{
        display: inline-block ;
        vertical-align: top;
        line-height: 40px;
      }
      &:hover{opacity: 0.8;}
    }
  }
}

.popUp {
  overflow: hidden;
  position: fixed;
  z-index: 1000;

  left: 50%;
  transform: translateX(-50%);
  top: 0;

  width: 100%;
  height: 100vh;

  .popUp-inner {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15vh;
    // padding: 20px;
    border-radius: 0px;
    z-index: 1000;

    width: 90vw;
    height: 70vh;

    background-color: #fff;

    h2 {
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      border-radius: 0px 0px 0 0;
      background-color: $base-black;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
    }

    form {
      width: fit-content;
      margin: auto;
      height: 80px;
      .condition-input {
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 40px;
        padding: 0 40px 0 20px;
        margin: 20px auto;
        border: 2px solid $base-black;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 500;
      }
      span {
        display: inline-block;
        cursor: pointer;
        line-height: 80px;
        position: relative;
        right: 35px;
        color: $base-black;
      }
    }

    // MAIN
    .condition_main {
      display: flex;
      justify-content: center;
      padding: 40px 20px;

      .condition_main-slist {
        width: 45%;
        height: 45vh;
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;

        li {
          float: right;
          display: inline-block;
          cursor: pointer;
          width: auto;
          margin: 5px;
          padding: 0 10px;
          border-radius: 0px;
          border: 2px solid $base-black;
          color: $base-black;
          // background-color: #0075F2;
          box-shadow: 0px 4px 10px #6d6d6d62;
          height: 40px;
          transition: all 0.3s;
          text-align: center;
          &:hover {
            border: 2px solid $base-black;
            color: #ffffff;
            background-color: $base-black;
            box-shadow: 0px 0px 5px #6d6d6d62;
          }
          p {
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            font-weight: 500;
            line-height: 40px;
          }
          span {
            line-height: 36px;
            font-size: 22px;
            font-weight: 500;
            margin-left: 2px;
          }
        }
      }

      .condition_main-rlist {
        width: 45%;
        height: 45vh;
        overflow-y: scroll;
        li {
          // &:last-child{border-bottom: 2px solid #0075F2;}
          height: 50px;
          line-height: 50px;
          margin: 10px 0;
          border-radius: 0px;
          padding: 0 10px;
          border: 2px solid $base-black;
          font-size: 20px;
          font-weight: 500;
          display: flex;
          justify-content: space-between;

          .input-title{
            span{
              cursor: pointer;
              line-height: 46px;
            }
            h3{
              vertical-align: top;
              display: inline-block;
              margin-left: 10px;
            }
          }

          .input-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .uinput {
              position: relative;
              right: 0;
              display: flex;
              justify-content: flex-end;
              align-items: center;  
              input[type=number] {
                height: 30px;
                font-size: 16px;
                border-radius: 0px 0 0 0px;
                padding: 5px 0px 5px 10px;
                font-weight: 500;
                border: 1px solid $base-black;
                // border: none;
              }
              .uninput-itm{
                // padding: 0 5px;
                input[type=radio] {
                  // display: none;
                }
                label{
                  height: 30px;
                  font-size: 18px;
                  padding: 5px;
                  padding-left: 0;
                  // border: 1px solid $base-black;
                  // border-left: none;
                }
              }
            }
          }
        }
      }

      .condition_main-divLine {
        height: 45vh;
        width: 1px;
        background-color: $base-black;
        margin: 0 20px;
      }
    }
  }

  .popUp-bg {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.274);
  }
}

.endBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  button {
    cursor: pointer;
    border: none;
    width: 50px;
    height: 30px;
    color: #fff;
    font-weight: 500;
    &:first-child {
      border-radius: 00px 0px 0px 00px;
      background-color: #e94f37;
    }
    &:last-child {
      border-radius: 0px 00px 00px 0px;
      background-color: $base-black;
    }
  }
}
