.container {
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;

  .verticalLine {
    height: 100px;
    width: 1px;
    background-color: #000;
  }

  .container-box {
    width: 100px;
    height: 100px;
    background-color: aqua;

    button {
      position: relative;
      top: 70px;
      left: 20px;
    }

  }

}

.popUp {
  overflow: hidden;
  position: fixed;

  left: 50%;
  transform: translateX(-50%);
  top: 0;
  
  width: 100%;
  height: 100vh;

  .popUp-inner{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 15vh;
    // padding: 20px;
    border-radius: 40px;

    width: 90vw;
    height: 70vh;

    z-index: 100;
    background-color: #fff;

    h2{
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      border-radius: 40px 40px 0 0; 
      background-color: #0075F2;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
    }

    form{
      width: fit-content;
      margin: auto;
      height: 80px;
      .condition-input{
        display: inline-block;
        vertical-align: top;
        width: 300px;
        height: 40px;
        padding: 0 40px 0 20px;
        margin: 20px auto;
        border: 2px solid #0075F2;
        border-radius: 40px;
        font-size: 18px;
        font-weight: 500;
      }
      span{
        display: inline-block;
        cursor: pointer;
        line-height: 80px;
        position: relative;
        right: 35px;
        color: #0075F2;
      }
    }


    // MAIN
    .condition_main{
      display: flex;
      justify-content: center;
      padding: 0 20px;

      .condition_main-slist{
        width: 45%;
        height: 45vh;
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
      
        li{
          float: right;
          display: inline-block;
          cursor: pointer;
          width: auto;
          margin: 5px;
          padding: 0 10px;
          border-radius: 20px;
          border: 2px solid #0075F2;
          color: #0075F2;
          // background-color: #0075F2;
          box-shadow: 0px 4px 10px #6d6d6d62;
          height: 40px;
          transition: all .3s;
          text-align: center;
          &:hover{
            border: 2px solid #0075F2;
            color: #ffffff;
            background-color: #0075F2;
            box-shadow: 0px 0px 5px #6d6d6d62;
          }
          p{
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            font-weight: 500;
            line-height: 40px;
          }
          span{
            line-height: 36px;
            font-size: 22px;
            font-weight: 500;
            margin-left: 2px;
          }
        }
      }

      .condition_main-rlist{
        width: 45%;
        height: 45vh;
        overflow-y: scroll;
        li{
          // &:last-child{border-bottom: 2px solid #0075F2;}
          height: 50px;
          line-height: 50px;
          margin: 10px 0;
          border-radius: 40px;
          padding: 0 10px 0 30px;
          border: 2px solid #0075F2;
          font-size: 20px;
          font-weight: 500;
          display: flex;
          justify-content: space-between;
          .input-wrapper{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            div{
              width: 40%;
              position: relative;
              right: 0;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              line-height: 50px;
              input{
                height: 30px;
                width: 45%;
                border-radius: 20px 0 0 20px;
                padding-left: 10px;
                font-weight: 500;
                border: 2px solid #0075F2;
                border-right: none;
              }
              button{
                cursor: pointer;
                height: 30px;
                color: #fff;
                border: none;
                font-weight: 500;
                padding: 0 8px;
                // border: 2px solid #0075F2;
                &.up{background-color: #0075F2;}
                &.down{
                  border-radius: 0px 20px 20px 0px;
                  background-color: #E94F37;
                }
              }
            }
          }
        }
      }

      .condition_main-divLine{
        height: 45vh;
        width: 1px;
        background-color: #0075F2;
        margin: 0 20px;
      }
    }


  }
  
  .popUp-bg{
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.274);
  }

}

.endBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  button{
    cursor: pointer;
    border: none;
    width: 50px;
    height: 30px;
    color: #fff;
    font-weight: 500;
    &:first-child{
      border-radius: 20px 0px 0px 20px;
      background-color: #E94F37;
    }
    &:last-child{
      border-radius: 0px 20px 20px 0px;
      background-color: #0075F2;
    }
  }
}
